body {
    padding-top: 120px;
}
.span12, .container {width: 940px;}
.no_margin_left {margin-left: 0;}
footer {text-align: center;}
footer h4 {margin-bottom: 8px;}
.logo {
    height: 90px;
}
.links a {
    margin-right: 5px;
}

.navbar-inverse .navbar-inner {
    background-image: url('../img/bg1.jpg');
}

/* product_list - the side bar*/
.product_list {
    margin-top: -5px;
    margin-left: 5px;
    min-height: 500px;
}
.product_list ul {
    list-style: none;
    margin: 0;
}
.product_list > ul > li {
    padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
    border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
    text-decoration: none;
}
.product_list > ul > li > a:hover{
    text-decoration: none;
    background: none;
}
.product_list > ul > li a.active {
    font-weight: bold;
}
.product_list > ul > li a.active + ul {
    display: block;
}
.product_list > ul > li ul > li {
    padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
    text-decoration: none;
    display: block;
}
.product_list > ul > li ul > li > a.active {
    font-weight: bold;
}


.related_products .span2 {
    width:160px;
}


.product_comparison .thumbnail{
    border: none;
    text-align:center;

}

.product_comparison small{
    font-weight: normal;
}

.product_comparison .product_stars {
    text-align:center;
    margin: 0 auto;
    width: 85px;
}
.product_comparison .price_summary td{
    text-align:center;
}
.navbar .btn.search_btn {
    margin-top:1px;
}

.carousel-inner {
    height: 286px;
}
.carousel-caption {
    bottom: -77px;
}

.popular_products .span2{
    width:160px;
}


.customer_service {
    text-align:right;
    font-size:13px;
}

.table td.center_text{
    text-align:center;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #59900E;
    color: #FFFFFF;
}

/* bootstrap-tags styles */

.tag-list {
        width: 280px;
        height: 26px;
        left:2px;
        top:2px;
        position:relative;
}
.tag-data {
        display:none;
}
.tags-input {
        width:100%;
        height:18px !important;
        margin:0;
        padding-bottom:0 !important;
        font-size:12px !important;
}
.tags {
        width:inherit;
        height:0;
        position:absolute;
        padding:0;
        margin:0;
}
.tag {
        
        margin:1px;
        float:left;
}
.tag span {
        font-size: 20px;
        padding: 7px 11px !important;
}
.tag a {
        color: #bbb;
        cursor:pointer;
        opacity: .5;
}
ul.tags-suggestion-list {
        width:100%;
        height:auto;
        list-style:none;
        margin:0;
        position:absolute;
        z-index:2;
        max-height:160px;
        overflow: scroll;
}
li.tags-suggestion {
        padding:3px 20px;
        height:auto;
}
li.tags-suggestion-highlighted {
        color: white;
        text-decoration: none;
        background-color: #0081C2;
        background-image: -moz-linear-gradient(top, #08C, #0077B3);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
        background-image: -webkit-linear-gradient(top, #08C, #0077B3);
        background-image: -o-linear-gradient(top, #08C, #0077B3);
        background-image: linear-gradient(to bottom, #08C, #0077B3);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.fixed-width {
        width:800px;
        margin:0 auto;
}

footer {
    background: url("../img/bg1.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    text-align: left;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}